*{
    margin: 0;
    padding: 10px 10px  ;
}
.header{
    background-color: rgba(33, 122, 206, 0.566);
    padding: 25px 10px  ;
}

.active{
    padding-left: 10px;
    padding-right: 55%;
}
.navbar{
    
    display: flex;
    justify-content: center ;
}
a{
    text-decoration: none;
    border-radius: 5px;
    color: aliceblue;
    font-size:x-large;
}
a:hover{
    color: rgb(79, 156, 203);
}
.container{
    display: flex;
    /* width: 50%; */
    background-color: rgb(83, 144, 236);
   }
.home{
    
    padding: 10%;
    float: left;
}

.img-box{
        width: 35%; 
        height: 35%; 
    border-radius: 50%; 
    overflow: hidden;
    /* z-index: 10; */
    /* padding: 70px; */
    
        /* transform: rotate(5deg); */
 }
/* .img-box :hover{
    
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
      
} */

.education{
    background-color: rgb(189, 220, 255);
    /* position: relative; */
    align-items: center;
    padding-left: 15%;
}
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
}